<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Add / Edit / Delete Menu</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        
          <div mdbModal #addnav="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="card-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="addnav.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100" id="myModalLabel"><span>New Menu</span></h4>
                </div>               
              <form [formGroup]="navForm" class="normal-form" >               
                <div class="modal-body" > 
                  <div class="row">
                    <div class="col-sm-9">
                      <label for="ntitle" class=""><i class="fas fa-tag prefix grey-text"></i>Title</label>
                    <input type="text" [(ngModel)]="nav.ntitle" name="ntitle" placeholder="Title yazin" class="form-control" formControlName="ntitle" mdbInput>   
                    </div>
                    <div class="col-sm-3">
                      <label for="ncsay" class=""><i class="fas fa-tag prefix grey-text"></i>Catr sayi</label>
                      <input type="number"  [(ngModel)]="nav.ncsay"   name="ncsay"  class="form-control" formControlName="ncsay" mdbInput> 
                    </div>
                  </div>   
                  <div class="row">
                    <div class="col-sm-9">
                      <label for="npath" class=""><i class="fas fa-tag prefix grey-text"></i>Path</label>
                    <input type="text"  [(ngModel)]="nav.npath"   name="npath" placeholder="path yazin" class="form-control" formControlName="npath" mdbInput> 
                    </div>
                    <div class="col-sm-3">
                      <label for="nisparent" class=""><i class="fas fa-tag prefix grey-text"></i>isParent</label>
                      <br>
                      <input type="checkbox"  [(ngModel)]="nav.nisparent"   name="nisparent"  class="form-check-input" formControlName="nisparent" mdbInput> 
                   </div>
                  </div>                    
                 
                     <div class="row"> 
                     <div class="col-sm-4">
                      <div class="form-group" >
                        <label for="formGroupLang">Language Cart</label>
                        <select [(ngModel)]="nav.nlan" name="_lan"  formControlName="nlan" (change)="langu($event.target.value)" class="browser-default custom-select">
                          <option [value]="">Choose Language</option>
                          <option *ngFor="let l of _lang" [value]="l.lname">{{l.lname}}</option>                                       
                        </select>
                      </div>
                    </div> 
                    <div class="col-sm-4">
                        <label for="formGroupExampleInput">Roles</label>
                         <select [(ngModel)]="nav.nrol"  name="_rol" formControlName="nrol" (change)="selrol($event.target.value)"                       
                              class="browser-default custom-select" >
                                <option >Choose page</option>                                    
                          <option *ngFor="let o of _role" [value]="o.name" >{{o.name}}</option>                                 
                        </select>
                    </div>
                    <div class="col-sm-4">
                      <label for="formGroupExampleInput">ParentId</label>
                        <select [(ngModel)]="ppnav" name="_pid" formControlName="npid" (change)="selPage($event.target.value)"
                              class="browser-default custom-select" >
                              <option >Choose page</option>                                    
                          <option *ngFor="let o of _page" [value]="o.ntitle" >{{o.ntitle}}</option>                                 
                        </select>
                    </div>
                  </div>          
                </div>
                <div class="modal-footer">
                 <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)=onadd() (click)="addnav.hide()" [disabled]="!navForm.valid">Save changes</button>
                 <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="addnav.hide()" mdbWavesEffect>Close</button>
                 </div>
               </form>
              </div>
            </div>
          </div> 
          <!------------------------------------------------------------->
          <div mdbModal #delnav="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="card-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="delnav.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100" id="myModalLabel"><span>Del {{ nav.ntitle }}</span></h4>
                </div>
                <form  class="normal-form">           
                <div class="modal-footer">
                 <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="ondel()" (click)="delnav.hide()">YES</button>
                 <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="delnav.hide()" mdbWavesEffect>NO</button>
                 </div>
               </form>
              </div>
            </div>
          </div>  
          <table mdbTable class="table table-striped table-bordered table-sm dataTable">
              <thead>     
                <tr>   
                  <th class="text-center" colspan="5">
                  <!--  <input type="text" [(ngModel)]="searchText" class="form-control" id="search" mdbInput/>-->
                  </th>             
                   
                   <th class="text-center">                 
                       <button type="button" mdbBtn color="primary" class="btn btn-success btn-rounded btn-sm my-0"
                       (click)="addnav.show()" (click)="_addnav()">Add <i class="fas fa-plus fa-2x" aria-hidden="true"></i></button>
                   </th>
                 </tr>
                <tr>      
                <!--  <th *ngFor="let head of headElements; let i = index" [mdbTableSort]="listnav" [sortBy]="headElements[i]"
                   scope="col">{{head | titlecase}} <mdb-icon fas icon="sort"></mdb-icon>
                 </th> -->
               <!--  <th class="text-center">Parentid</th> 
                  <th class="text-center">Title</th>    
                  <th class="text-center">Path</th>    
                  <th class="text-center">Language</th>    
                  <th class="text-center">Role</th>      
                  <th class="text-center">Actions</th>-->
                 
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let p of listnav; let i = index">
                  <td scope="row">{{ p.pid }}</td>
                  <td class="pt-3-half" contenteditable="true">{{ p.ntitle }}</td>
                  <td class="pt-3-half" contenteditable="true">{{ p.npath}}</td>    
                  <td class="pt-3-half" contenteditable="true">{{ p.nlan}}</td>
                  <td class="pt-3-half" contenteditable="true">{{ p.nrol}}</td>  
                  <td>
                    <span class="table-remove">
                      <button type="button" (click)="addnav.show()" (click)="_editnav(p)" class="btn btn-info btn-sm my-0">
                        Edit<i class="fas fa-edit"></i></button>
                      <button type="button" (click)="delnav.show()" (click)="_editnav(p)" class="btn btn-danger btn-rounded btn-sm my-0">
                        Remove<i class="fas fa-trash-alt"></i></button>
                    </span>
                  </td>
                </tr>
              </tbody>
          </table>
         </div>
      </div>
</div>
