<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Add/Edit/Delete Qelip name</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2">
          <button type="button" mdbBtn desor="primary" class="btn btn-success btn-rounded btn-sm my-0"
          (click)="addqel.show()" (click)="_addqel()">Add <i class="fas fa-plus fa-2x" aria-hidden="true"></i></button>
          </span> 
          <div mdbModal #addqel="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="card-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="addqel.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100" id="myModalLabel"><span>New Qelip name</span></h4>
                </div>               
              <form [formGroup]="qelForm" class="normal-form" >               
                <div class="modal-body" > 
                  <div class="row">
                    <div class="col-sm-12">
                      <label for="Qelip name" class=""><i class="fas fa-tag prefix grey-text"></i>Qelip name</label>
                    <input type="text" [(ngModel)]="qel.qelipname" name="qelipname" placeholder="Qelip name yazin" class="form-control" formControlName="qelipname" mdbInput>   
                    </div>
                   <!-- <div class="col-sm-6">
                      <label for="firma_unvan" class=""><i class="fas fa-tag prefix grey-text"></i>firma_unvan</label>
                      <input type="text"  [(ngModel)]="fir.firma_unvan"   name="firma_unvan"  class="form-control" formControlName="firma_unvan" placeholder="firma_unvan yazin" mdbInput> 
                    </div>-->
                  </div>   
                 <!-- <div class="row">
                    <div class="col-sm-4">
                      <label for="firma_telefon" class=""><i class="fas fa-tag prefix grey-text"></i>firma_telefon</label>
                    <input type="text"  [(ngModel)]="fir.firma_telefon"   name="firma_telefon" placeholder="firma_telefon yazin" class="form-control" formControlName="firma_telefon" mdbInput> 
                    </div>
                    <div class="col-sm-4">
                      <label for="firma_email" class=""><i class="fas fa-tag prefix grey-text"></i>firma_email</label>
                      <input type="text"  [(ngModel)]="fir.firma_email"   name="firma_email" placeholder="firma_email yazin"  class="form-control" formControlName="firma_email" mdbInput> 
                    </div>
                    <div class="col-sm-4">
                        <label for="voen" class=""><i class="fas fa-tag prefix grey-text"></i>voen</label>
                        <input type="number"  [(ngModel)]="fir.voen"   name="voen" placeholder="voen yazin"  class="form-control" formControlName="voen" mdbInput> 
                      </div>
                  </div> -->                    
                </div>
                <div class="modal-footer">
                 <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)=onadd() (click)="addqel.hide()" [disabled]="!qelForm.valid">Save changes</button>
                 <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="addqel.hide()" mdbWavesEffect>Close</button>
                 </div>
               </form>
              </div>
            </div>
          </div> 
          <!------------------------------------------------------------->
          <div mdbModal #delqel="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="card-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="delqel.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100" id="myModalLabel"><span>Del {{ qel.qelipname }}</span></h4>
                </div>
                <form  class="normal-form">           
                <div class="modal-footer">
                 <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="ondel()" (click)="delqel.hide()">YES</button>
                 <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="delqel.hide()" mdbWavesEffect>NO</button>
                 </div>
               </form>
              </div>
            </div>
          </div> 
          <table class="table table-bordered table-responsive-md table-striped text-center"  *ngIf='listqel && listqel.length'>
            <thead>
              <tr>                
               <!-- <th class="text-center">Navid</th>
                <th class="text-center">Qelip Id</th> -->
                <th class="text-center">Qelipname</th>    
                <!--<th class="text-center">firma_telefon</th>    
                <th class="text-center">firma_unvan</th>    
                <th class="text-center">firma_email</th>
                <th class="text-center">voen</th>    -->         
                <th class="text-center">Sort</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody *ngFor='let p of filteredqel'>
              <tr>
               <!--   <td class="pt-3-half" contenteditable="true">{{ p.navid }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.qelipId }}</td>-->
                <td class="pt-3-half" contenteditable="true">{{ p.qelipname }}</td>
               <!-- <td class="pt-3-half" contenteditable="true">{{ p.firmatelefon}}</td>    
                <td class="pt-3-half" contenteditable="true">{{ p.firmaunvan}}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.firmaemail}}</td>  
                <td class="pt-3-half" contenteditable="true">{{ p.voen}}</td>  -->
                <td class="pt-3-half">
                  <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                        aria-hidden="true"></i></a></span>
                  <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                        aria-hidden="true"></i></a></span>
                </td>
                <td>
                  <span class="table-remove">
                    <button type="button" (click)="addqel.show()" (click)="_editqel(p)" class="btn btn-info btn-sm my-0">
                      Edit<i class="fas fa-edit"></i></button>
                    <button type="button" (click)="delqel.show()" (click)="_editqel(p)" class="btn btn-danger btn-rounded btn-sm my-0">
                      Remove<i class="fas fa-trash-alt"></i></button>
                  </span>
                </td>
              </tr>       
            </tbody>
          </table>
        </div>
      </div>
</div>




