<div class="col-md-12">
  <mdb-card class="animated fadeIn mb-3" borderColor="border-warning">
    <mdb-card-header>Add/Edit/Delete Firma</mdb-card-header>
    <mdb-card-body class="p-3">
      <div id="table" class="table-editable">
      <!--  <span class="table-add float-right mb-3 mr-2">
          <button type="button" mdbBtn color="primary" class="btn btn-success btn-rounded btn-sm my-0"
          (click)="addfir.show()" (click)="_addfir()">Add <i class="fas fa-plus fa-2x" aria-hidden="true"></i></button>
          </span> -->
          <div mdbModal #addfir="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="card-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="addfir.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100" id="myModalLabel"><span>New Firma</span></h4>
                </div>               
              <form [formGroup]="firForm" class="normal-form" >               
                <div class="modal-body" > 
                  <div class="row">
                    <div class="col-sm-12">
                      <label for="storname" class=""><i class="fas fa-tag prefix grey-text"></i>Firma adi</label>
                    <input type="text" [(ngModel)]="fir.storname" name="storname" placeholder="storname yazin" class="form-control" formControlName="storname" mdbInput>   
                    </div>
                    <div class="col-sm-12">
                      <label for="storemail" class=""><i class="fas fa-tag prefix grey-text"></i>storemail</label>
                      <input type="text" readonly [(ngModel)]="fir.storemail"   name="storemail" placeholder="storemail yazin"  class="form-control" formControlName="storemail" mdbInput> 
                    </div>
                    <div class="col-sm-12">
                      <label for="storadress" class=""><i class="fas fa-tag prefix grey-text"></i>storadress</label>
                      <input  type="text"  [(ngModel)]="fir.storadress"   name="storadress"  class="form-control" formControlName="storadress" placeholder="storunvan yazin" mdbInput> 
                    </div>                  
                    <div class="col-sm-12">
                      <label for="storphone" class=""><i class="fas fa-tag prefix grey-text"></i>stortelefon</label>
                    <input type="text" [(ngModel)]="fir.storphone"   name="storphone" placeholder="" class="form-control" formControlName="storphone" mdbInput> 
                    </div>
                    <!-- <div class="col-sm-12">
                      <label for="storpercent" class=""><i class="fas fa-tag prefix grey-text"></i>storpercent</label>
                      <input type="number"  [(ngModel)]="fir.storpercent"   name="storpercent" placeholder="storpercent yazin"  class="form-control" formControlName="storpercent" mdbInput> 
                    </div>                  -->
                    <div class="col-sm-12">
                        <label for="storvoen" class=""><i class="fas fa-tag prefix grey-text"></i>storvoen</label>
                        <input type="number"  [(ngModel)]="fir.storvoen"   name="storvoen" placeholder="storvoen yazin"  class="form-control" formControlName="storvoen" mdbInput> 
                    </div>
                  </div> 
                </div>
                <div class="modal-footer">
                 <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)=onadd() (click)="addfir.hide()" [disabled]="!firForm.valid">Save changes</button>
                 <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="addfir.hide()" mdbWavesEffect>Close</button>
                 </div>
               </form>
              </div>
            </div>
          </div> 
        <!------------------------------------------------------------->
          <div mdbModal #delfir="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="card-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="delfir.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100" id="myModalLabel"><span>Del {{ fir.storname }}</span></h4>
                </div>
                <form  class="normal-form">           
                <div class="modal-footer">
                 <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="ondel()" (click)="delfir.hide()">YES</button>
                 <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="delfir.hide()" mdbWavesEffect>NO</button>
                 </div>
               </form>
              </div>
            </div>
          </div> 
          <table class="table table-bordered table-responsive-md table-striped text-center"  *ngIf='listfir && listfir.length'>
            <thead>
              <tr>                
               <!-- <th class="text-center">Navid</th>-->
                <th class="text-center">storid</th> 
                <th class="text-center">storname</th>    
                <th class="text-center">storphone</th>    
                <th class="text-center">storadress</th>    
                <th class="text-center">storemail</th>
                 <!-- <th class="text-center">storpercent</th>  -->
                <th class="text-center">storvoen</th>             
                <th class="text-center">Sort</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody *ngFor='let p of filteredfir'>
              <tr>
               <!--   <td class="pt-3-half" contenteditable="true">{{ p.navid }}</td>-->
                <td class="pt-3-half" contenteditable="true">{{ p.storId }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.storname }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.storphone}}</td>    
                <td class="pt-3-half" contenteditable="true">{{ p.storadress}}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.storemail}}</td>                  
                <!-- <td class="pt-3-half" contenteditable="true">{{ p.storpercent}}</td>   -->
                <td class="pt-3-half" contenteditable="true">{{ p.storvoen}}</td>
                <td class="pt-3-half">
                  <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                        aria-hidden="true"></i></a></span>
                  <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                        aria-hidden="true"></i></a></span>
                </td>
                <td>
                  <span class="table-remove">
                    <button type="button" (click)="addfir.show()" (click)="_editfir(p)" class="btn btn-info btn-sm my-0">
                      Edit<i class="fas fa-edit"></i></button>
                   <!-- <button type="button" (click)="delfir.show()" (click)="_editfir(p)" class="btn btn-danger btn-rounded btn-sm my-0">
                      Remove<i class="fas fa-trash-alt"></i></button>-->
                  </span>
                </td>
              </tr>       
            </tbody>
          </table>
        </div>
    </mdb-card-body>
  </mdb-card>
</div> 


