<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Add/Edit/Delete Colors</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2">
          <button type="button" mdbBtn color="primary" class="btn btn-success btn-rounded btn-sm my-0"
          (click)="addcol.show()" (click)="_addcol()">Add <i class="fas fa-plus fa-2x" aria-hidden="true"></i></button>
          </span> 
          <div mdbModal #addcol="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="card-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="addcol.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100" id="myModalLabel"><span>New Colors</span></h4>
                </div>               
              <form [formGroup]="colForm" class="normal-form" >               
                <div class="modal-body" > 
                  <div class="row">
                    <div class="col-sm-12">
                      <label for="colname" class=""><i class="fas fa-tag prefix grey-text"></i>Color name</label>
                    <input type="text" [(ngModel)]="col.colname" name="colname" placeholder="colname yazin" class="form-control" formControlName="colname" mdbInput>   
                    </div>
                    <div class="col-sm-12">
                      <label for="colurl" class=""><i class="fas fa-tag prefix grey-text"></i>color Url </label>
                      <input type="text"  [(ngModel)]="col.colurl"   name="colurl"  class="form-control" formControlName="colurl" placeholder="colurl yazin" mdbInput> 
                    </div>
                  </div>                     
                 <!-- <div class="row">
                    <div class="col-sm-4">
                      <label for="firma_telefon" class=""><i class="fas fa-tag prefix grey-text"></i>firma_telefon</label>
                    <input type="text"  [(ngModel)]="fir.firma_telefon"   name="firma_telefon" placeholder="firma_telefon yazin" class="form-control" formControlName="firma_telefon" mdbInput> 
                    </div>
                    <div class="col-sm-4">
                      <label for="firma_email" class=""><i class="fas fa-tag prefix grey-text"></i>firma_email</label>
                      <input type="text"  [(ngModel)]="fir.firma_email"   name="firma_email" placeholder="firma_email yazin"  class="form-control" formControlName="firma_email" mdbInput> 
                    </div>
                    <div class="col-sm-4">
                        <label for="voen" class=""><i class="fas fa-tag prefix grey-text"></i>voen</label>
                        <input type="number"  [(ngModel)]="fir.voen"   name="voen" placeholder="voen yazin"  class="form-control" formControlName="voen" mdbInput> 
                      </div>
                  </div> -->                
                           
                </div>
                <div class="modal-footer">
                 <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)=onadd() (click)="addcol.hide()" [disabled]="!colForm.valid">Save changes</button>
                 <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="addcol.hide()" mdbWavesEffect>Close</button>
                 </div>
               </form>
              </div>
            </div>
          </div> 
          <!------------------------------------------------------------->
          <div mdbModal #delcol="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="card-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="delcol.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100" id="myModalLabel"><span>Del {{ col.colname }}</span></h4>
                </div>
                <form  class="normal-form">           
                <div class="modal-footer">
                 <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="ondel()" (click)="delcol.hide()">YES</button>
                 <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="delcol.hide()" mdbWavesEffect>NO</button>
                 </div>
               </form>
              </div>
            </div>
          </div> 
          <table class="table table-bordered table-responsive-md table-striped text-center"  *ngIf='listcol && listcol.length'>
            <thead>
              <tr>                
               <!-- <th class="text-center">Navid</th>-->
                <th class="text-center">ColId</th> 
                <th class="text-center">Color name</th>   
                <th class="text-center">Color </th> 
                <!--<th class="text-center">firma_telefon</th>    
                <th class="text-center">firma_unvan</th>    
                <th class="text-center">firma_email</th>
                <th class="text-center">voen</th>    -->         
                <th class="text-center">Sort</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody *ngFor='let p of filteredcol'>
              <tr>
               <!--   <td class="pt-3-half" contenteditable="true">{{ p.navid }}</td>-->
                <td class="pt-3-half" contenteditable="true">{{ p.colId }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.colname }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.colurl }}</td>
               <!-- <td class="pt-3-half" contenteditable="true">{{ p.firma_telefon}}</td>    
                <td class="pt-3-half" contenteditable="true">{{ p.firma_unvan}}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.firma_email}}</td>  
                <td class="pt-3-half" contenteditable="true">{{ p.voen}}</td>  -->
                <td class="pt-3-half">
                  <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                        aria-hidden="true"></i></a></span>
                  <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                        aria-hidden="true"></i></a></span>
                </td>
                <td>
                  <span class="table-remove">
                    <button type="button" (click)="addcol.show()" (click)="_editcol(p)" class="btn btn-info btn-sm my-0">
                      Edit<i class="fas fa-edit"></i></button>
                    <button type="button" (click)="delcol.show()" (click)="_editcol(p)" class="btn btn-danger btn-rounded btn-sm my-0">
                      Remove<i class="fas fa-trash-alt"></i></button>
                  </span>
                </td>
              </tr>       
            </tbody>
          </table>
        </div>
      </div>
</div>

