<div class="row wow fadeIn">

    <!--Grid column-->
    <div class="col-md-6 mb-4">

      <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/14.jpg" class="img-fluid" alt="">

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-md-6 mb-4">

      <!--Content-->
      <div class="p-4">

        <div class="mb-3">
          <a href="">
            <span class="badge purple mr-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Категория 2</font></font></span>
          </a>
          <a href="">
            <span class="badge blue mr-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Новый</font></font></span>
          </a>
          <a href="">
            <span class="badge red mr-1"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Бестселлер</font></font></span>
          </a>
        </div>

        <p class="lead">
          <span class="mr-1">
            <del><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">200 долларов США</font></font></del>
          </span>
          <span><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">100 долларов США</font></font></span>
        </p>

        <p class="lead font-weight-bold"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Описание</font></font></p>

        <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Lorem ipsum dolor sit amet conctetur adipisicing elit. </font><font style="vertical-align: inherit;">Et dolor suscipit libero eos atque quia ipsa sint voluptatibus! </font><font style="vertical-align: inherit;">Beatae сидят в предположении asperiores iure на maxime atque repllendus maiores quia sapiente.</font></font></p>

        <form class="d-flex justify-content-left">
          <!-- Default input -->
          <input type="number" value="1" aria-label="Поиск" class="form-control" style="width: 100px">
          <button class="btn btn-primary btn-md my-0 p waves-effect waves-light" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Добавить в корзину
            </font></font><i class="fas fa-shopping-cart ml-1"></i>
          </button>

        </form>

      </div>
      <!--Content-->

    </div>
    <!--Grid column-->

  </div>

