<div class="card">
    <h3 class="card-header text-center font-weight-bold text-uppercase py-4">Add/Edit/Delete Categoriya</h3>
    <div class="card-body">
      <div id="table" class="table-editable">
        <span class="table-add float-right mb-3 mr-2">
          <button type="button" mdbBtn color="primary" class="btn btn-success btn-rounded btn-sm my-0"
          (click)="addcat.show()" (click)="_addcat()">Add <i class="fas fa-plus fa-2x" aria-hidden="true"></i></button>
          </span> 
          <div mdbModal #addcat="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="card-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="addcat.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100" id="myModalLabel"><span>New Categoriya</span></h4>
                </div>               
              <form [formGroup]="catForm" class="normal-form" >               
                <div class="modal-body" > 
                  <div class="row">
                    <div class="col-sm-6">
                        <label for="formGroupExampleInput">Gender</label>
                        <select [(ngModel)]="gendername"  name="_gen" formControlName="genId" (change)="selgen($event.target.value)"                       
                             class="browser-default custom-select" >
                         <option >Choose</option>                                    
                         <option *ngFor="let o of _gender" [value]="o.genname" >{{o.genname}}</option>                                 
                       </select>                      
                    </div>
                    <div class="col-sm-6">
                      <label for="formGroupExampleInput">ParentId</label>
                      <select [(ngModel)]="_catname"  name="_cat" formControlName="parid" (change)="selcat($event.target.value)"                       
                        class="browser-default custom-select" >
                          <option >Choose</option>                                    
                          <option *ngFor="let o of _catt" [value]="o.catname" >
                            {{o.catname}}
                          </option>                                 
                        </select>  
                  </div>
                    <div class="col-sm-12">
                      <label for="catname" class=""><i class="fas fa-tag prefix grey-text"></i>Categoriy name</label>
                      <input type="text"  [(ngModel)]="cat.catname"   name="catname"  class="form-control" formControlName="catname" placeholder="Categoriy yazin" mdbInput> 
                    </div>
                  </div>                       
                           
                </div>
                <div class="modal-footer">
                 <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)=onadd() (click)="addcat.hide()" [disabled]="!catForm.valid">Save changes</button>
                 <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="addcat.hide()" mdbWavesEffect>Close</button>
                 </div>
               </form>
              </div>
            </div>
          </div> 
          <!------------------------------------------------------------->
          <div mdbModal #delcat="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="card-header">
                  <button type="button" class="close pull-right" aria-label="Close" (click)="delcat.hide()">
                    <span aria-hidden="true">×</span>
                  </button>
                  <h4 class="modal-title w-100" id="myModalLabel"><span>Del {{ cat.catname }}</span></h4>
                </div>
                <form  class="normal-form">           
                <div class="modal-footer">
                 <button type="submit" mdbBtn color="primary" class="relative waves-light" mdbWavesEffect (click)="ondel()" (click)="delcat.hide()">YES</button>
                 <button type="button" mdbBtn color="secondary" class="waves-light" aria-label="Close" (click)="delcat.hide()" mdbWavesEffect>NO</button>
                 </div>
               </form>
              </div>
            </div>
          </div> 
          <table class="table table-bordered table-responsive-md table-striped text-center"  *ngIf='listcat && listcat.length'>
            <thead>
              <tr>                
               <!-- <th class="text-center">Navid</th>
                <th class="text-center">Categoriy Id</th> -->
                <th class="text-center">Parent Categoriy</th> 
                <th class="text-center">Categoriy name</th>  
                <th class="text-center">Gender name</th>  
                      
                <th class="text-center">Sort</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody *ngFor='let p of filteredcat'>
              <tr>
               <!--   <td class="pt-3-half" contenteditable="true">{{ p.navid }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.catId }}</td>-->
                <td class="pt-3-half" contenteditable="true">{{ p.parid }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.catname }}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.genname }}</td>
               <!-- <td class="pt-3-half" contenteditable="true">{{ p.firma_telefon}}</td>    
                <td class="pt-3-half" contenteditable="true">{{ p.firma_unvan}}</td>
                <td class="pt-3-half" contenteditable="true">{{ p.firma_email}}</td>  
                <td class="pt-3-half" contenteditable="true">{{ p.voen}}</td>  -->
                <td class="pt-3-half">
                  <span class="table-up"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-up"
                        aria-hidden="true"></i></a></span>
                  <span class="table-down"><a href="#!" class="indigo-text"><i class="fas fa-long-arrow-alt-down"
                        aria-hidden="true"></i></a></span>
                </td>
                <td>
                  <span class="table-remove">
                    <button type="button" (click)="addcat.show()" (click)="_editcat(p)" class="btn btn-info btn-sm my-0">
                      Edit<i class="fas fa-edit"></i></button>
                    <button type="button" (click)="delcat.show()" (click)="_editcat(p)" class="btn btn-danger btn-rounded btn-sm my-0">
                      Remove<i class="fas fa-trash-alt"></i></button>
                  </span>
                </td>
              </tr>       
            </tbody>
          </table>
        </div>
      </div>
</div>
