<div class="container py-5">
    <div class="row">
      <div class="col-md-12">
        <mdb-card class="animated fadeIn mb-3" borderColor="border-warning">
          <mdb-card-header>App section</mdb-card-header>
          <mdb-card-body class="p-3">
            <mdb-card-title>
              <h5 class="mb-3">Projects</h5>
            </mdb-card-title>
            <mdb-card-text>
            </mdb-card-text>

            <a routerLink="/" (click)=addmenu() mdbBtn color="orange">Menyu</a>  
            <div *ngIf="_shomi">
              <a routerLink="/" (click)=addhesablar() mdbBtn color="orange">Hazirla </a> 
              <a routerLink="/" (click)=addvergi() mdbBtn color="orange">Vergi </a>                     
             <!-- <a routerLink="/" (click)=addshirket() mdbBtn color="orange">Shirket </a>  
              <a routerLink="/" (click)=addmushteri() mdbBtn color="orange">Mushteri </a>
                -->
            </div>    
            <div *ngIf="!_shomi">
              <a routerLink="/" (click)=addgender() mdbBtn color="orange">Gender</a>           
              <a routerLink="/" (click)=addcol() mdbBtn color="orange">Colors /</a>
              <a routerLink="/" (click)=adddesan() mdbBtn color="orange">Dizain /</a>
              <a routerLink="/" (click)=addkalip() mdbBtn color="orange">Kalip /</a>
              <a routerLink="/" (click)=addstil() mdbBtn color="orange">Stil /</a>          
              <a routerLink="/" (click)=addkulalan() mdbBtn color="orange">Kullanim alani /</a>
              <a routerLink="/" (click)=addkumash() mdbBtn color="orange">Kumash tipi /</a>            
              <a routerLink="/" (click)=addmat() mdbBtn color="orange">Material /</a>  
              <a routerLink="/" (click)=addmarka() mdbBtn color="orange">Marka /</a>
              <h5>sonda</h5>
              <a routerLink="/" (click)=addcate() mdbBtn color="orange">Categorya /</a>  
              <a routerLink="/" (click)=addkoltip() mdbBtn color="orange">Qol tipi /</a>        
              <a routerLink="/" (click)=addyaka() mdbBtn color="orange">Yaka /</a>
              <a routerLink="/" (click)=addbeden() mdbBtn color="orange">Beden /</a>
            </div>     
           
          </mdb-card-body>
        </mdb-card>
      </div>
    </div>
</div>