<div class="container-fluid full-page-container">
  <div class="row h-100 justify-content-center align-items-center">
    <div class="col-lg-6 col-sm-4 animated fadeIn">
     <!-- Material form login -->
        <div class="card" >
          <h3 class="card-header ">
            {{pageTitle}}
          </h3>
          <div class="card-body px-lg-5 pt-0">
            <div class="container">
              <div class="row">
               
                <div class="col-sm">
                  <form [formGroup]="chengForm" (ngSubmit)="onSubmit()">    
                    <div class="md-form">
                      <input formControlName="OldPassword" id="OldPassword" mdbInput mdbValidate type="password" class="form-control" >
                      <label for="OldPassword">OldPassword</label>
                      <mdb-error *ngIf="OldPassword.invalid && (OldPassword.dirty || OldPassword.touched)">OldPassword invalid</mdb-error>
                      <mdb-success *ngIf="OldPassword.valid && (OldPassword.dirty || OldPassword.touched)">OldPassword valid</mdb-success>
                   </div>       
                    <!-- Password -->
                   <div class="md-form">
                        <input formControlName="NewPassword" id="NewPassword" mdbInput mdbValidate type="password" class="form-control" >
                        <label for="NewPassword">NewPassword</label>
                        <mdb-error *ngIf="NewPassword.invalid && (NewPassword.dirty || NewPassword.touched)">NewPassword invalid</mdb-error>
                        <mdb-success *ngIf="NewPassword.valid && (NewPassword.dirty || NewPassword.touched)">NewPassword valid</mdb-success>
                    </div>
                      <!-- Password  -->
                      <div class="md-form">
                        <input formControlName="confirmPassword" id="confirmPassword" type="password" class="form-control">
                        <label for="confirmPassword">ConfirmPassword</label>
                        <mdb-error *ngIf="confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched)">confirmPassword invalid</mdb-error>
                        <mdb-success *ngIf="confirmPassword.valid && (confirmPassword.dirty || confirmPassword.touched)">confirmPassword valid</mdb-success>
                    </div>   
                    <!-- Sign up button -->
                    <button [disabled]="!chengForm.valid" class="btn btn-deep-purple btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>
              
                  </form>
                </div>
               
              </div>
            </div>
           
          </div>
        </div>
    </div>
  </div>
</div>


